In [1]:
import pandas as pd
import numpy as np

In [2]:
train_df=pd.read_csv("train_data.csv")

In [3]:
train_df.head()

,transaction_number,user_id,payment_method,partner_id,partner_category,country,device_type,money_transacted,transaction_initiation,partner_pricing_category,is_fraud
0,144703125000,17539344,sbi_atm_cum_debit_card,47334,cat_1,IND_INR,android_devices,-5.0,2016-11-15 19:16:12+00:00,2,0
1,77406814453032,24710841,e_wallet_payments,78890,cat_2,IND_INR,other_pcs,100.0,2017-01-11 09:25:33+00:00,2,0
2,308929485482801,24265476,e_wallet_payments,78890,cat_2,IND_INR,other_pcs,50.0,2016-12-07 07:58:09+00:00,2,0
3,665270027747073,10240000,other_debit_cards,102557,cat_3,IND_INR,other_pcs,1000.0,2017-01-11 16:15:44+00:00,2,0
4,38276160171101,5880625,other_debit_cards,118335,cat_1,IND_INR,other_pcs,200.0,2016-11-16 17:04:42+00:00,2,0

In [4]:
train_df.shape

(76529, 11)

In [5]:
train_df.isnull().sum()

transaction_number          0
user_id                     0
payment_method              0
partner_id                  0
partner_category            0
country                     0
device_type                 0
money_transacted            0
transaction_initiation      0
partner_pricing_category    0
is_fraud                    0
dtype: int64

In [6]:
train_df.columns

Index(['transaction_number', 'user_id', 'payment_method', 'partner_id',
       'partner_category', 'country', 'device_type', 'money_transacted',
       'transaction_initiation', 'partner_pricing_category', 'is_fraud'],
      dtype='object')

In [7]:
#'transaction_number' column has all unique values
train_df['transaction_number'].nunique()

76529

In [8]:
#'user_id'
train_df['user_id'].nunique()

3594

In [9]:
#'payment_method'
train_df['payment_method'].nunique()

6

In [10]:
train_df['payment_method'].value_counts()

payment_method
sbi_atm_cum_debit_card        30538
e_wallet_payments             27384
visa_master_debit_cards       11643
other_debit_cards              4495
visa_master_credit_cards       2454
unified_payments_interface       15
Name: count, dtype: int64

In [11]:
#'partner_id'
train_df['partner_id'].value_counts()

partner_id
47334     26105
23667     19526
78890     12273
118335     9546
7889       2317
31556      1892
165669     1216
86779      1121
149891      767
110446      640
102557      231
15778       189
157780      165
63112       159
189336      146
173558       89
55223        75
213003       25
39445        19
71001        15
126224       10
94668         2
181447        1
Name: count, dtype: int64

In [12]:
train_df['partner_id'].nunique()

23

In [13]:
#'partner_category'
train_df['partner_category'].value_counts()

partner_category
cat_1    36306
cat_2    36019
cat_3     1536
cat_4     1310
cat_5     1026
cat_7      165
cat_6      146
cat_8       19
cat_9        2
Name: count, dtype: int64

In [14]:
#'country'
train_df['country'].value_counts()

country
IND_INR    76529
Name: count, dtype: int64

In [15]:
#'device_type'
train_df['device_type'].value_counts()

device_type
other_pcs          45560
android_devices    29662
ios_devices          876
windows_pcs          431
Name: count, dtype: int64

In [16]:
#'money_transacted'
train_df['money_transacted'].value_counts()

money_transacted
 20.00     13743
-1.00       6838
 200.00     6606
 40.00      4406
 10.00      4161
           ...
-4.31          1
 67.90         1
 372.00        1
 700.08        1
 494.00        1
Name: count, Length: 1454, dtype: int64

In [17]:
train_df['money_transacted'].nunique()

1454

In [18]:
#'transaction_initiation'
train_df['transaction_initiation'].value_counts()

transaction_initiation
2016-12-24 16:30:13+00:00    12
2016-11-15 07:03:26+00:00     7
2016-12-24 16:30:12+00:00     6
2017-01-04 04:29:41+00:00     4
2017-02-01 10:58:34+00:00     4
                             ..
2016-11-19 06:18:42+00:00     1
2016-11-21 08:57:53+00:00     1
2016-12-13 08:52:02+00:00     1
2016-11-26 11:07:53+00:00     1
2017-01-11 19:08:18+00:00     1
Name: count, Length: 75811, dtype: int64

In [19]:
#'partner_pricing_category'
train_df['partner_pricing_category'].value_counts()

partner_pricing_category
2    63899
4    10833
1     1497
0      300
Name: count, dtype: int64

In [20]:
#'is_fraud'
train_df['is_fraud'].value_counts()

is_fraud
0    76375
1      154
Name: count, dtype: int64

In [21]:
(154/(76375+154))
#0.20131% fraud transactions

0.0020123090593108495

In [22]:
#remove columns transaction_number and country
train_df.drop(columns=['transaction_number', 'country'], axis=1, inplace=True)

In [23]:
train_df.dtypes

user_id                       int64
payment_method               object
partner_id                    int64
partner_category             object
device_type                  object
money_transacted            float64
transaction_initiation       object
partner_pricing_category      int64
is_fraud                      int64
dtype: object

In [24]:
train_df.columns

Index(['user_id', 'payment_method', 'partner_id', 'partner_category',
       'device_type', 'money_transacted', 'transaction_initiation',
       'partner_pricing_category', 'is_fraud'],
      dtype='object')

In [25]:
cat_cols=['payment_method', 'partner_category',
       'device_type','partner_pricing_category']

In [26]:
for column in cat_cols:
    train_df[column] = train_df[column].astype('category')

In [28]:
train_df.dtypes

user_id                        int64
payment_method              category
partner_id                     int64
partner_category            category
device_type                 category
money_transacted             float64
transaction_initiation        object
partner_pricing_category    category
is_fraud                       int64
dtype: object

In [30]:
from datetime import datetime

In [31]:
# Convert the 'timestamp' column to datetime data type
train_df['transaction_initiation'] = pd.to_datetime(train_df['transaction_initiation'])

In [32]:
train_df['transaction_initiation']

0       2016-11-15 19:16:12+00:00
1       2017-01-11 09:25:33+00:00
2       2016-12-07 07:58:09+00:00
3       2017-01-11 16:15:44+00:00
4       2016-11-16 17:04:42+00:00
                   ...
76524   2016-11-30 13:40:45+00:00
76525   2017-01-08 08:35:31+00:00
76526   2016-12-26 21:47:08+00:00
76527   2016-12-11 13:44:06+00:00
76528   2017-01-11 19:08:18+00:00
Name: transaction_initiation, Length: 76529, dtype: datetime64[ns, UTC]

In [33]:
# Extract date, month, year, hour, and minute components
train_df['date'] = train_df['transaction_initiation'].dt.date
train_df['month'] = train_df['transaction_initiation'].dt.month
train_df['year'] = train_df['transaction_initiation'].dt.year
train_df['hour'] = train_df['transaction_initiation'].dt.hour
train_df['minute'] = train_df['transaction_initiation'].dt.minute

In [34]:
train_df.head()

,user_id,payment_method,partner_id,partner_category,device_type,money_transacted,transaction_initiation,partner_pricing_category,is_fraud,date,month,year,hour,minute
0,17539344,sbi_atm_cum_debit_card,47334,cat_1,android_devices,-5.0,2016-11-15 19:16:12+00:00,2,0,2016-11-15,11,2016,19,16
1,24710841,e_wallet_payments,78890,cat_2,other_pcs,100.0,2017-01-11 09:25:33+00:00,2,0,2017-01-11,1,2017,9,25
2,24265476,e_wallet_payments,78890,cat_2,other_pcs,50.0,2016-12-07 07:58:09+00:00,2,0,2016-12-07,12,2016,7,58
3,10240000,other_debit_cards,102557,cat_3,other_pcs,1000.0,2017-01-11 16:15:44+00:00,2,0,2017-01-11,1,2017,16,15
4,5880625,other_debit_cards,118335,cat_1,other_pcs,200.0,2016-11-16 17:04:42+00:00,2,0,2016-11-16,11,2016,17,4

In [35]:
train_df.columns

Index(['user_id', 'payment_method', 'partner_id', 'partner_category',
       'device_type', 'money_transacted', 'transaction_initiation',
       'partner_pricing_category', 'is_fraud', 'date', 'month', 'year', 'hour',
       'minute'],
      dtype='object')

In [36]:
train_df.drop(columns=['transaction_initiation','date'], axis=1, inplace=True)

In [37]:
train_df.head()

,user_id,payment_method,partner_id,partner_category,device_type,money_transacted,partner_pricing_category,is_fraud,month,year,hour,minute
0,17539344,sbi_atm_cum_debit_card,47334,cat_1,android_devices,-5.0,2,0,11,2016,19,16
1,24710841,e_wallet_payments,78890,cat_2,other_pcs,100.0,2,0,1,2017,9,25
2,24265476,e_wallet_payments,78890,cat_2,other_pcs,50.0,2,0,12,2016,7,58
3,10240000,other_debit_cards,102557,cat_3,other_pcs,1000.0,2,0,1,2017,16,15
4,5880625,other_debit_cards,118335,cat_1,other_pcs,200.0,2,0,11,2016,17,4